*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Vollkorn', serif;
}

.nav_bg .navbar{
  background-color:#fff !important;
}

.nav_bg .navbar .navbar-brand{
  font-size: 25px  !important;
  color: #035197;
}

.nav_bg .navbar a:hover
{
  color: #035197 !important;
}

.nav_bg .navbar .active_item
{

  border-bottom: 1px solid #035197;
}

.btn_get_started
{
  border: 1px solid #388DD6;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  height: 40px;
  width: 120px;
  border-radius: 20px;
}
.btn_get_started a 
{
  text-decoration: none;
}
.btn_get_started:hover{
  background-color: #388DD6;
  transition: 0.6s;
}

.btn_get_started a:hover{
  color: black;
}

.brand_name{
  color: #388DD6;
  border: none;
  border-bottom:1px solid #388DD6;
}

/*--------------------------------------------main part---------*/

#header{
  width: 100%;
  
}

#header .animate{
  animation: up_down 2s ease-in-out infinite alternate-reverse both;
}
 @-webkit-keyframes up_down{
   0%{
     transform: translateY(10px);
   }
   100%{
     transform: translateY(-10px);
   }
 }
 @keyframes up_down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

/*--------------------------------card------------*/

.card{
  width: 18rem;
}

.card img{
  height: 200px;
}